@font-face {
  font-family: "Commissioner";
  src: url("./Commisioner/static/Commissioner-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Commissioner";
  src: url("./Commisioner/static/Commmissioner-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Commissioner";
  src: url("./Commisioner/static/Commissioner-Bold.ttf");
  font-weight: 700;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: "Commissioner";
}

header {
  background-image: url("./images/image-hero-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  padding: 30px 25px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 128px;
  height: 20px;
}

.hamburger {
  width: 15px;
  height: 14px;
}

.header__modal {
  display: none;
}

main {
  padding: 250px 25px 100px 25px;
  background-color: #F2F5F8;
  position: relative;
}

.floatingMain {
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: -60px;
  max-width: calc(100% - 50px);
  height: 270px;
  padding: 40px 25px;
}
.floatingMain__logo {
  position: absolute;
  top: -28px;
  left: calc(50% - 28px);
}
.floatingMain__title {
  text-align: center;
}
.floatingMain__description {
  text-align: center;
}
.floatingMain__book {
  width: 56px;
  height: 56px;
}

.progress {
  border-radius: 10px;
  background-color: white;
  padding: 0 25px 25px 25px;
  margin-bottom: 30px;
}
.progress__section {
  position: relative;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress__hr {
  width: 20%;
  position: relative;
  bottom: 0;
  left: 40%;
}
.progress__label {
  color: grey;
}
.progress__bar {
  width: 100%;
  background-color: #F2F5F8;
  height: 15px;
  border-radius: 50px;
  position: relative;
}
.progress__barfill {
  position: absolute;
  left: 0;
  border-radius: 50px;
  width: 89%;
  height: 15px;
  background-color: #3cb4ac;
}

.about {
  border-radius: 10px;
  background-color: white;
  padding: 30px 25px;
}
.about__title {
  margin-bottom: 20px;
}
.about__description {
  margin-bottom: 20px;
  color: grey;
}

.pledgeCard {
  border-radius: 10px;
  border: 1px solid silver;
  padding: 25px;
  margin-bottom: 25px;
}
.pledgeCard--soldout {
  opacity: 0.4;
}
.pledgeCard__title {
  margin-bottom: 10px;
  font-family: "Commissioner";
}
.pledgeCard__subtitle {
  color: #3cb4ac;
}
.pledgeCard__description {
  color: grey;
  margin: 25px 0;
}
.pledgeCard__stock {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  color: grey;
}
.pledgeCard__number {
  color: black;
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
  margin-right: 10px;
}

.button {
  background-color: #3cb4ac;
  color: white;
  border: none;
  border-radius: 50px;
}
.button--back {
  width: 200px;
  height: 56px;
}
.button--select {
  width: 140px;
  height: 45px;
}
.button--soldout {
  background-color: silver;
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px 25px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.modal--active {
  display: flex;
}
.modal__card {
  background-color: white;
  border-radius: 10px;
}

/*# sourceMappingURL=index.css.map */
